body {
  font-family: Arial;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

h1 {
  border-bottom: 2px solid black;
}

h2 {
  border-bottom: 1px solid #ccc;
  margin-top: 20px;
}

p, li {
  color: #333;
}
